
.styleFormulaire{
   font-family: Amaranth;
   font-size: 1.5em;
   text-align: center


}

button {
   -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
   box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); 

   margin-top: 2em!important;
}

   