<div class="container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/t99KH0TR-J4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <br>
  <h2>Show Must Go On</h2>
  <br>
  Grégory Lemarchal<br>
  Empty spaces, what are we living for<br>
  Abandoned places, I guess we know the score<br>
  On and on<br>
  Does anybody know what we are looking for<br>
  <br>
  Another hero another mindless crime<br>
  Behind the curtain in the pantomime<br>
  Hold the line
  Does anybody want to take it anymore<br>
  <br>
  The show must go on<br>
  The show must go on<br>
  Inside my heart is breaking<br>
  My make-up may be flaking<br>
  But my smile still stays on<br>
  <br>
  Whatever happens I'll leave it all to chance<br>
  Another heartache another failed romance<br>
  On and on<br>
  Does anybody know what we are living for<br>
  I guess I'm learning<br>
  I must be warmer now<br>
  I'll soon be turning round the corner now<br>
  Outside the dawn is breaking<br>
  But inside in the dark I'm aching to be free<br>
  <br>
  The show must go on<br>
  The show must go on, yeah<br>
  Ooh inside my heart is breaking<br>
  My make-up…<br>
</div>