<div class="alert alert-dark mr-auto" style="text-align:center">
    <img class="rounded mx-auto d-block" src="assets/apropos/nschauss.jpg" alt="avatar"/>
    <h3>Nicolas SCHAUSS</h3>
    <p>
        Je ne crois pas qu'il y ait de bonne ou de mauvaise situation.
        Moi, si je devais résumer ma vie aujourd'hui avec vous,
        je dirais que c'est d'abord des rencontres,
        Des gens qui m'ont tendu la main,
        peut-être à un moment où je ne pouvais pas, où j'étais seul chez moi.
        Et c'est assez curieux de se dire que les hasards,
        les rencontres forgent une <span class="font-weight-bold">destinée...</span>
        Parce que quand on a le goût de la chose,
        quand on a le goût de la chose <span class="font-weight-bold">bien faite</span>,
        Le beau geste, parfois on ne trouve pas l'interlocuteur en face,
        je dirais, le miroir qui vous aide à avancer.
        Alors ce n'est pas mon cas, comme je le disais là,
        puisque moi au contraire, j'ai pu ;
        Et je dis merci à la vie, je lui dis merci,
        je chante la vie, je danse la vie... Je ne suis qu'<span class="font-weight-bold">amour</span>!
        Et finalement, quand beaucoup de gens aujourd'hui me disent :
        <span class="font-italic">"Mais comment fais-tu pour avoir cette humanité ?"</span>,
        Eh bien je leur réponds très simplement,
        je leur dis que c'est ce goût de l'<span class="font-weight-bold">amour</span>,
        Ce goût donc qui m'a poussé aujourd'hui
        à entreprendre une construction mécanique,
        Mais demain, qui sait, peut-être simplement à me mettre au service de la communauté,
        à faire le don, le don de soi...
    </p>
    <div></div>
</div>
