.img_histo{
    width :100%;
    height : auto;
}

p{
    font-size: 1.4em;
    font-family: 'Amaranth';
    
}

b{
    font-weight: bold;
}

button{

    text-align: center;
    font-size: 0.8em;
    width : auto;
    padding: 0.4em 1em 0.4em 1em;
    float : right;
}