nav{
    text-align: center;
    font-size: 1.5em;
    display : flex;
    justify-content: center;
    font-weight: bold;
}

a{
    margin : 0 4em 0 4em;
}

.ajout{
    font-size: 0.8em !important;
}