<app-bandeau></app-bandeau>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <app-collegue></app-collegue>
        </div>
        <div class="col">
            <app-collegue></app-collegue>
        </div>
        <div class="col">
            <app-collegue></app-collegue>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <app-collegue></app-collegue>
        </div>
        <div class="col">
            <app-collegue></app-collegue>
        </div>
        <div class="col">
            <app-collegue></app-collegue>
        </div>
    </div>
</div>

<div [class.Collegue]="afficherCollegue()"></div>