app-liste-collegues{
   //  img{
   //     // width : 250px;
   //     width: 100% !important;
   //     height: auto;
   //  }

    
   .box_Collegue{
      width: 100% !important;
   }

}

app-collegue-component{
   display: flex;
   justify-content: center;
}   