/* You can add global styles to this file, and also import other style files */
.scorePositif{
    color:blue;
    font-size:40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.scoreNegatif{
    color:red;
    font-size:40px;
    font-family:Impact;
}

.scoreNul{
    color:grey;
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
}