/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
}


/************************************* TITRES *********************************************************/
h1, h2{
    font-family: "Roboto";
    text-align: center;
    z-index: 20;
}

p{
    font-family: "Roboto";
}

h1{
    margin-bottom: 50px;
}

h2{
    margin-bottom: 70px;
    font-weight: 300;
}

/************************************** MENU *****************************************************/
nav{
    background-color: #3FFFB3;
    padding: 20px 0px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav a{
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    font-size: 22px;
    font-family: "Arial";
}


nav .active-link{
    text-transform: uppercase;
    font-weight: 600;
}


/*********************************** ANIMATION LOGO ***************************************************/
app-menu svg{
    max-width: 15%;
}

#svgAnim{
    text-align: center;
}

#el_0KIQ30oa7yK *{
    animation: infinite;
}

#el_JaiqLpJmvNL{
    fill: white;
}
#el_cSwiyxPTwYa {
    fill: #3FFFB3;
}



/**
#imgLogo{
    animation-duration: 2s;
    animation-name: animRotate;
    animation-iteration-count: infinite;
    width : 50%;
    margin: auto;
    z-index: 4;
    padding: 30px;
}

@keyframes animRotate{
    0% {
        transform :rotateZ(25deg);
    }

    50%{
        transform: rotateZ(-25deg);
    }

    100% {
        transform : rotateZ(25deg);
    }
}
**/


/************************************LISTES A PUCE ****************************************************/

#liens ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    flex-direction: row;
    margin: auto;
    list-style: none;
    color: black; 
    font-family: "Roboto";
    font-weight: 300;
}

 #liens a{
     color: black;
 }



/******************************************** BUTTONS *********************************************************/
app-avis{
    width: 100%;
}

#buttonPlace{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

button{
    background-color: black;
    padding: 14px 20px;    
    cursor: pointer;
    border :0;
    text-transform: uppercase;
    color: white;
}

button a{
    text-decoration: none;
    font-family: "Roboto";
    color: white;
}
button.disabled{
    background-color: red;
}




/********************************************************* LISTE COLLEGUES ***************************************************************/
#blocs{
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
}

#blocCollegue{
    width: 100%;
}




.imgVote{
    width: 50%;
}

.blocVote{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

app-liste-collegue{
    display: block;
    width: 100%;
}


app-historique {
    width: 20%;
}

.card{
    background-color: #ededed;
    padding: 15px;
    float: left;
    width: 20%;
    margin: 1%;
}

.card img{
    width: 100%;
    height: 145px;
}

.card p {
    text-align: center;
    margin: 10px 0;
}

.pseudo{
    text-transform: uppercase;
    font-weight: 700;
    line-height: auto;
}

/******************************************************** IMG & TXT ***************************************************************/
app-apropos{
    display: flex;
    flex-direction: column;
}

app-apropos img{
    object-fit: contain;
}

.desc{
    width: 35%;
    margin: auto;
    margin-top: 50px;
    font-weight: 300;
    margin-bottom: 50px;
}

/******************************************************** FOOTER ************************************************************/
.footer{
    background-color: #3FFFB3;
    padding: 15px 0px;
}

.footer p{
    text-align: center;
}



.disabled{
    background-color: white;
}


/********************************************************* DETAIL OF COLLEAGUE ***********************************************************/
app-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
}

.cardDetail{
    background-color: #3FFFB3;
    padding: 15px;
    text-align: center;
}

.cardDetail img{
    margin-bottom: 15px;
}

.description{
    font-weight: 300;
    margin-top: 5px;
}

.card a{
    color: #15BC7A;
}

/***************************************************** BLOC HISTORIQUE ********************************************************/
.blocVote{
    margin: 1% 0;
}

.enteteHistorique{
    text-align: center;
    padding: 10px 5px;
    text-transform: uppercase;
    background-color: #3FFFB3;
}



/******************************************************** FORMULAIRE **************************************************************/
.formCollegue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 20%;
    margin-bottom: 50px;
}

.formCollegue input{
    margin: 1% 0;
    width: 100%;
    padding: 10px;
    background-color: #ededed;
    border: 0;
}

.formCollegue button{
    margin-top: 25px;
}


.champInvalid{
    font-size: 11px; 
    margin: 2% 0;
}

.champInvalid::before{
    content: '* ';
}

.champRequis.ng-valid{
    border: 1px solid #15BC7A;
}

.champRequis.ng-invalid{
    border: 1px solid #CC1313;
}